$font-family: 'Arial', sans-serif;

$font-color-primary: #222;
$font-color-secondary: #606060;

$font-color-normal: #222;
$font-color-white: #fff;
$font-color-red: #FF4C4C;

$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-light: 300;

$font-size-base: 16px;
$font-size-heading: 24px;
$font-size-small: 12px;

$background-color: #BACAD9;
$background-white: #FFF;
$background-gradient: linear-gradient(to right, #FF4500, #FFA500);

$primary-color: #C223EA;
$secondary-color: #222;
$accent-color: #FE1A59;