<div class="dashboard">
  <div class="dashboard__cards-container">
    <app-card-user-list
      title="Minim dolorin"
      description="Sed do eiusmod tempor incididunt ut labore et dolore"
      [users]="users"
      [totalUsers]="534"
    />
    <app-card-user-profile [user]="users[0]" />
    <app-card-product [product]="product"/>
    <app-card-content
      title="Ui card long title for test"
      description="Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident."
      headerBackground="card-content-img.png"
    />
  </div>
</div>